@use "./../../../src/assets/styles/cssBase.scss";
@use "../../assets/styles/mixins.scss" as *;

.card-content {
  .card_carousel_img {
    a {
      display: block;
      align-items: center;
    }
  }
}
.card__movie {
  width: 280px; // Chiều rộng của mỗi thẻ phim, điều chỉnh theo nhu cầu
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  background-color: #ffffff;

  &:hover {
    transform: translateY(-5px); // Hiệu ứng khi hover
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .card__movie__img {
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
  }

  .line-clamp {
    font-size: 1.4rem;
    padding: 2px;
    color: #555;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 32px;
  }
  .title-movie {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #0e1b4c;
    line-height: 1.2;
  }
  p {
    font-size: 1.4rem;
    color: #777;
    text-align: left;
  }

  .book-ticket-button {
    padding: 10px 0;
    margin-top: 8px;
    background-color: #0f1b4c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
  }

  .book-ticket-button:hover {
    background-color: #e64a19;
  }
  .row_stars {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.star-rating {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #ff6347; /* orange */
}

.star-rating .fas,
.star-rating .far {
  color: #ff6347; /* Màu vàng cho sao */
  font-size: 16px; /* Kích thước */
}

// REPONSIVE
@include respond-to(xs) {
  .card__movie {
    display: flex;
    max-width: 190px;
    padding: 10px;
    justify-content: center;
    max-height: 430px;
    .lazy-load-image-loaded {
      height: 230px !important;
    }
    .row_stars {
      justify-content: space-between;
      flex-direction: column;
    }
  }
  .card__movie__img {
    width: 165px;
    height: 245px;
  }
}

@include respond-to(xxs) {
  .card__movie {
    max-width: 165px;
  }
  .card__movie__img {
    width: 145px;
    height: 220px;
  }
}
