@use "../../assets/styles/mixins.scss" as *;
@use "../../assets/styles/variables.scss" as *;

.promotions-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1270px;
  .left-section {
    flex: 3;
  }

  .right-section {
    flex: 1;
    position: sticky;
    top: 100px; // Giữ MovieList cố định khi cuộn
  }
}

@include respond-to(xs) {
  .promotions-layout {
    flex-direction: column;
  }
}
