.booking_details_container {
  .booking_details_value {
    font-size: 1.4rem !important;
  }
  .booking_details_title {
    font-size: 1.4rem !important;
    font-weight: bold !important;
  }

  .booking_details_buttons {
    font-size: 1.4rem !important;
  }
  .booking_modal_title {
    font-size: 1.8rem !important;
    font-weight: bold !important;
    color: #0f1b4c !important;
    margin-bottom: 15px !important;
  }
}
