@use "./../../../assets/styles/cssBase.scss";
@use "../../../assets//styles/mixins.scss" as *;
@use "../../../assets//styles/variables.scss" as *;

.modal-booking-content {
  font-size: 1.4rem;
  min-width: 600px;
  border-radius: 10px;

  .title-booking {
    font-size: 2rem;
    color: cssBase.$primary-color;
    margin-bottom: 10px;
  }
  .movie_name {
    font-size: 1.8rem;
    color: rgb(255, 55, 0);
    margin-bottom: 10px;
  }
  select {
    min-width: 250px;
    min-height: 35px;
    text-align: center;
    border-radius: 10px;
    margin-right: 5px;
  }
  .button-chose {
    min-width: 120px;
    min-height: 35px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #333;

    &:hover {
      cursor: pointer;
      background-color: rgb(114, 71, 71);
    }
  }
  p {
    margin: 5px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .success {
    background-color: lightblue;
  }
  .button-chose-date {
    font-weight: 500;
  }
}
.button-action {
  min-width: 100px;
  min-height: 35px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

// REPONSIVE
@include respond-to(xs) {
  .modal-booking-content {
    font-size: $mobase-font-size-2xl;
    min-width: 300px;
    .title-booking {
      font-size: $mobase-font-size-3xl;
    }
    select {
      min-width: 210px;
      margin: 0;
    }
    .showtime-date {
      min-width: 100px;
    }
    .showtime-time,
    .showtime-date {
      .button-chose {
        font-size: $mobase-font-size-1xl;
        min-width: 60px;
        min-height: 30px;
        margin: 3px;
      }
    }
    .showtime-time {
      padding: 5px 0;
      margin: 5px 0;
      border-bottom: 1px solid #ccc;
    }
    .movie_name {
      font-size: $mobase-font-size-3xl;
    }
  }
}
