@use "./../../assets/styles/cssBase.scss";
@use "../../assets/styles/mixins.scss" as *;

.home__movie.movies__list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    5,
    minmax(240px, 1fr)
  ); // Thiết lập số cột tự động
  grid-auto-rows: auto;
  padding: 20px;
  justify-items: center; // Căn giữa các thẻ phim
}

// REPONSIVE
@include respond-to(xs) {
  .home__movie.movies__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(
      2,
      minmax(175px, 1fr)
    ); // Thiết lập số cột tự động
    grid-auto-rows: auto;
    padding: 20px;
    justify-items: center; // Căn giữa các thẻ phim
    max-height: 100%;
  }
}
