// Class này tạo ra những thuộc tính dùng cho cả project để đồng nhất về color and font
$font-heading: "Sen", sans-serif;
$font-number: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$primary-color: #0f1b4c;
$red: rgb(240, 71, 71);
$brow: rgb(143, 51, 43);
$headerColor: rgb(233, 236, 236);
$footerColor: rgb(233, 236, 236);

$mobase-font-size-xs: 1.2rem;
