// Breakpoints
$breakpoint-xxs: 375px;
$breakpoint-xs: 575.98px;
$breakpoint-sm: 767.98px;
$breakpoint-md: 991.98px;
$breakpoint-lg: 1199.98px;
$breakpoint-xl: 1399.98px;

// LIST FONT
$mobase-font-size-xxs: 0.625rem;
$mobase-font-size-xs: 0.75rem;
$mobase-font-size-sm: 0.875rem;
$mobase-font-size-base: 1rem;
$mobase-font-size-lg: 1.125rem;
$mobase-font-size-xl: 1.25rem;
$mobase-font-size-1xl: 1.4rem;
$mobase-font-size-2xl: 1.6rem;
$mobase-font-size-3xl: 1.875rem;
$mobase-font-size-4xl: 2.25rem;
$mobase-font-size-5xl: 3rem;
$mobase-font-size-6xl: 3.75rem;
$mobase-font-size-7xl: 4.5rem;
$mobase-font-size-8xl: 6rem;
$mobase-font-size-9xl: 8rem;

// COLOR
$orange-color: #ff5722;
$green-color: #b0d427;
