@use "./../../assets/styles/cssBase.scss";

// Modal Content Box
.modal-content-forgot,
.modal-content {
  // Back Login Modal Button
  .back-login-button {
    font-size: 1.6rem;
    font-weight: 400;
    color: #555;
    background: transparent;
    border: transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
.modal-content-forgot {
  padding: 40px;
  width: 440px;
}

// Input Container
.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  .input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #2b75f6;
      outline: none;
      box-shadow: 0 0 5px rgba(43, 117, 246, 0.5);
    }

    &.input-error {
      border-color: red;
    }
  }

  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
  }
}

// Submit Button
.submit-button {
  width: 100%;
  background-color: #1a73e8;
  color: white;
  font-size: 1.6rem;
  padding: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background-color: #155ab4;
  }
}

// Helper Text
.helper-text {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
  line-height: 1.5;

  .small-text {
    font-size: 12px;
  }
}

// Link Button
.link-button {
  background: none;
  border: none;
  color: #2b75f6;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #1b5fcc;
  }
}
// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
